fastapi
uvicorn
pydantic-settings
python-dotenv
sqlalchemy
pymysql
email-validator
passlib[bcrypt]
bcrypt==4.0.1
cryptography
python-jose[cryptography]
python-multipart
ultralytics
pillow
scikit-learn
psutil
gputil
celery
redis
pyyaml
aioredis
websockets
mlflow
boto3
prometheus-fastapi-instrumentator
httpx